### Задача
разработать формулу для расчета рейтинга студента  (определить показатели, которые учитываются в формуле, напр.: баллы за тесты, д/з, проект и тд.),
разработать программу, которая позволяет преподавателю вести рейтинг студентов.


Класс Student;

Атрибуты/переменные класса:
имя,
фамилия,
email,
… [показатели],
рейтинг студента.

##### Меню
При запуске программы выводится меню*:

Введите 0, чтобы добавить  студента*.
[пользователь вводит через разделитель(напр., пробел) имя, фамилию, все показатели рейтинга]*,
[генерируется ID студента]*,
[снова выводится меню].

Введите 1, чтобы вывести список всех студентов*.
[выводится список студентов в алфавитном порядке (1ый столбец - ID; 2ой - имя, фамилия студента).]*,
[снова выводится меню].

Введите 2 и ID студента через пробел, чтобы вывести всю информацию о студенте*.
[выводится вся информация о студенте с заданным ID*],
[снова выводится меню].

Введите 3 и ID студента через пробел, чтобы изменить рейтинг студента*.
[пользователь вводит значения всех показателей через разделитель],
[программа вычисляет новый рейтинг на основе показателей],
[снова выводится меню].

Введите 4 и ID студента через пробел, чтобы удалить студента*.
[студент с заданным ID удаляется из контейнера/хранилища]*,

In [9]:
class Student:
    
    def __init__(self, name, lastname, email, test1, test2, project_score):
        self.name = name
        self.lastname = lastname
        self.email = email
        self.test1 = test1
        self.test2 = test2
        self.project_score = project_score
        self.score = test1+test2+1.5*project_score
        
    # change score
    def new_score(self, test1, test2, project_score):
        self.test1 = test1
        self.test2 = test2
        self.project_score = project_score
        self.score = test1+test2+1.5*project_score

In [11]:
import sqlite3
while True:
    
    start_menu = input( """
                 Enter 0 to add a student
                 Enter 1 to list all students 
                 Enter 2 and the student's ID (space as seporater) to display all the information about the student
                 Enter 3 and the student's ID (space as seporater) to change student rating
                 Enter 4 and the student's ID (space as seporater) to remove student
                 Enter 666 to end
                 
                 """).split()
    menu = int(start_menu[0])
    if menu in [2,3,4]:
        ID = int(start_menu[1])
    
    con = sqlite3.connect('info.db')
    c = con.cursor()
    
    try: 
        c.execute('''CREATE TABLE students (ID_students text, name text, lastname text, email text, 
                 test1 int, test2 int, project_score int, score int)''')
        ID_students = 0
    except: 
        ID_students = c.execute('''SELECT MAX(ID_students) FROM students''').fetchone()
        ID_students = int(ID_students[0])
    
    if menu == 0:
        info = input("""Enter info about student: name, lastname, email, test1, test2, project_score.
                        (Use space as seporater) """).split()
        ID_students+=1
        
        c.execute("""INSERT INTO students(ID_students, name, lastname, email, test1, test2, project_score)
                VALUES(?,?,?,?,?,?,?)""", (ID_students, info[0],info[1],info[2],int(info[3]),int(info[4]),int(info[5])))
        con.commit()
         
    
    elif menu == 1:
                sql_querry = c.execute('''
                     SELECT ID_students, name, lastname FROM students 
                     ORDER BY lastname
                     ''')
            
        print('ID_students  name      lastname')
        
        for elem in sql_querry:
            print('{0:7}      {1:7}       {2:15}'.format(elem[0],elem[1],elem[2]))
        
    elif menu == 2:      
        all_informat = c.execute('''SELECT * FROM students WHERE ID_students == ? ''',(ID,)).fetchone() 
        print(all_informat)
        
    elif menu == 3:
        
        info = input("""Enter new data: test1, test2, project_score.
                        (Use space as seporater) """).split()
        
        c.execute('''UPDATE students SET test1=?, test2=?, project_score=? WHERE ID_students == ? ''',
                  (int(info[0]), int(info[1]), int(info[2]), ID))
        con.commit()
        
    elif menu == 4:
        print('Student with ID=%s was deleted' %ID)
        c.execute('''DELETE FROM students WHERE ID_students == ?''',(ID,))
        con.commit()
        
    elif menu == 666 :
        con.close() 
        break
        
    else: 
        print('Erro: enter from 0 to 4 ')

IndentationError: unindent does not match any outer indentation level (<ipython-input-11-f580886df0c0>, line 44)